<div class="container">
  <h2>That's not a 'Big Picture'.. Yet!</h2>
    <p>Let's think more out of the Box..</p>
    <p>
        <img src="http://vegawoodworking.com/wp-content/uploads/2014/09/thinking-man1.png" alt="think">
    </p>
</div>